img {
    width: 100px;
    display: block;
    margin: auto;
}

body {
    font-family: 'Arial';
    background-color: rgb(200, 200, 255);
    color: rgb(0, 0, 0);
}
p {
    text-align: center;
}

h1 {
    text-align: center;
}

